/* Enter your custom styles here */
/* Change the background color of the header */
.sapUshellShellHeader {background: #b5cee4;}
/* Change the background color of the header (search icon, avatar and user name) */
.sapUshellShellHeadEnd {background: #b5cee4 !important;}
/* Change text color and text shadow of search icon*/
.sapUshellShellHeadItm span {
    color: rgb(52, 97, 135) !important;
    text-shadow: 0px 1px 0rem rgba(255,255,255, 0.3) !important;
}
/* Change text color and text shadow of avatar and user name */
.sapUshellShellHeadAction {
    color: rgb(52, 97, 135) !important;
    text-shadow: 0px 1px 0rem rgba(255,255,255, 0.3) !important;
}
/* Change text color and text shadow of home button */
#homeBtn {
    color: rgb(52, 97, 135) !important;
    text-shadow: 0px 1px 0rem rgba(255,255,255, 0.3) !important;
}
/* Offset (hide) line below search icon, avatar and user name */
.sapUshellShellHeadEnd {box-shadow: inset 0 0 red !important;}
/* Change text shadow and line height of groups text buttons  */
.sapUshellAnchorItemInner {
    text-shadow: 0px 1px 0rem rgba(255,255,255, 0.3) !important;
    line-height: 2.95rem !important;
}
/* Change color of tile icons 1 */
.sapMImageContentImageIcon.sapUiIcon {
    color: rgb(147, 183, 214) !important;
}
/* Change group titles */
.sapUshellContainerTitle {
    text-shadow: 0px 1px 0rem rgba(255,255,255, 0.3) !important;
}
/* Change color of stripe that is below the group text buttons */
.sapUshellAnchorNavigationBar {
    border-bottom: 0.125rem solid rgba(52,97,135,0.4);
}
/* Change color group buttons menu icon */
.sapUshellAnchorItemOverFlow .sapUiIcon {
    color: rgb(52, 97, 135) !important;
    text-shadow: 0px 1px 0rem rgba(255,255,255, 0.3) !important;
}
/* Change color of left arrow nav icon of group buttons menu */
.sapUshellAnchorLeftOverFlowButton .sapUiIcon {
    color: rgb(52, 97, 135) !important;
    text-shadow: 0px 1px 0rem rgba(255,255,255, 0.3) !important;
}
/* Change color of right arrow nav icon of group buttons menu */
.sapUshellAnchorRightOverFlowButton .sapUiIcon {
    color: rgb(52, 97, 135) !important;
    text-shadow: 0px 1px 0rem rgba(255,255,255, 0.3) !important;
}
/* Offset (hide) divider between search icon and avatar */
.sapUshellShellHeadSeparator:before, .sapUshellShellHeadEnd .sapUshellShellHeadItm.sapUshellShellHeadItmSep:before, .sapUshellShellHeadBegin .sapUshellShellHeadItm.sapUshellShellHeadItmSep:after {
    height: 0rem;
}
/* Change color of tile icons 2 */
.sapMNCIconImage {
    color: rgb(147, 183, 214) !important;
}
/* Change color of text of neutral-status KPI value */
.Neutral .sapMNCValueScr {
    color: rgb(94, 105, 110);
}
/* Offest (hide) border of and add box shadow to tile */
.sapMGT {
    border: 0px solid transparent !important;
    box-shadow: 0 0 0.125rem 0 rgba(0,0,0,0.3) !important;
}

/* Highlighting completed documents to red*/
.sapMText .overdueText, .overdueText{
	/*color: rgba(255,0,0) !important;*/
	color: #ff0000 !important;
}

.overdueRow{
    background-color: rgba(255,0,0,0.1) !important;
}